.datePicker .MuiInputBase-root {
  background-color: #fff;
  font-size: 18px;
  font-weight: 700;
  height: 48px;
}

.filecoinDatePicker .MuiInputBase-root {
  background-color: #0090FF;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  height: 48px;
  border: 1px solid #fff;
}
