.datePickerInput {
  font-size: 18px;
  font-weight: 700;
  height: 48px;
}

.datePickerInputFilecoin .MuiInputBase-root {
  background-color: #E5F4FF;
  color: #0090FF;
  font-size: 18px;
  font-weight: 700;
  height: 48px;
}

.autocompleteInputFilecoin .MuiInputBase-root {
  background-color: #E5F4FF;
  color: #0090FF;
  font-size: 18px;
  font-weight: 700;
}
