.user-type-block-datepicker-input {
  font-size: 18px;
  font-weight: 700;
  height: 48px;
}

.user-type-block-datepicker-input-filecoin .MuiInputBase-root {
  background-color: #E5F4FF;
  color: #0090FF;
  font-size: 18px;
  font-weight: 700;
  height: 48px;
}

.user-type-block-select-autocomplete-filecoin .MuiInputBase-root {
  background-color: #E5F4FF;
  color: #0090FF;
  font-size: 18px;
  font-weight: 700;
}
