<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Zero</title>
    <base href="/" />

    <style>
      body {
        background-color: #19355E;
      }

      * {
        font-family: rajdhani, serif !important;
      }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="favicon.png" />
    <script>
      window.config = {
        API_BASE_URL: '$API_BASE_URL',
        BLOCK_EXPLORER: '$BLOCK_EXPLORER',
        UI_API_KEY: '$UI_API_KEY'
      };
    </script>
  </head>
  <body>
    <div id="root"></div>
    <script>
      global = globalThis
    </script>
  </body>
</html>
